NET "en" LOC = C22 | IOSTANDARD = "LVCMOS18";
NET "led" LOC = G19 | IOSTANDARD = "LVCMOS18";

NET "out_p" LOC = W17 | IOSTANDARD = "LVDS_25";
NET "out_n" LOC = Y18 | IOSTANDARD = "LVDS_25";
NET "oe_n" LOC = V17 | IOSTANDARD = "LVCMOS25";
NET "term_e1" LOC = AB5 | IOSTANDARD = "LVCMOS25";
NET "term_e2" LOC = AB6 | IOSTANDARD = "LVCMOS25";
